.container__projects
    width: 100vw
    background-color: #466595
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: white
    padding-top: 45px

.projects
    width: 75%

@media screen and (min-width: 650px)
    .projects
        width:60%

@media screen and (min-width: 750px)
    .projects
        width: 40%

@media screen and (min-width: 850px)
    .projects
        width: 30%
