.container__projects
    width: 100vw
    background-color: #466595
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: white
    padding-top: 45px

.projects
    width: 75%