.container__header
    position: fixed
    z-index: 999
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 10px 0

    nav
        width: 100%

    ul
        list-style: none
        display: flex
        justify-content: space-evenly

    a
        text-decoration: none
        cursor: pointer
        font-weight: 600
        color: #ffffff

    figure
        margin: 5px 20px 0 5px
        cursor: pointer
        img
            width: 28px
            
.container__nav
    position: fixed
    z-index: 998
    right: 0
    top: 48%
    margin: 0 20px 0 10px
    
    ul
        list-style: none

        li
            margin: 10px 0

    a
        text-decoration: none
        cursor: pointer
        img
            width: 18px

// @media screen and (min-width: 650px)
//     .container__nav
//         right: 10%
//     .container__header
//         width: 90%

// @media screen and (min-width: 750px)
//     .container__nav
//         right: 18%
//     .container__header
//         width: 88%

// @media screen and (min-width: 850px)
//     .container__nav
//         right: 22%
//     .container__header
//         width: 80%
    